body {
	text-align: center;
}

h1 {
	font-size: min(max(25px, 5vh), 50vh);
}

#flowers {
	max-height: max(75vh, 150px);
	max-width: max(50vw, 150px);
	border-radius: 3px;
	image-orientation: from-image;
}

.hidden {
	visibility: hidden;
}

#sonnets {
	display: block;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;

	font-size: min(max(10px, 2vh), 20vh);
}

#sonnets div {
	margin: 0 auto 30px;
	min-width: 50%;
}

@media (min-width: 775px) {
	#sonnets div {
		float: left;
		width: 50%;
	}
}
