:root {
	--font-size: 3vmin;
}

html {
	font-size: var(--font-size);
}

body {
	text-align: center;
}

h1 {
	font-size: 8vmin;
	/*font-size: min(max(25px, 8vh), 50vh);*/
}

#flowers {
	max-height: max(75vh, 150px);
	max-width: max(50vw, 150px);
	border-radius: 3px;
	image-orientation: from-image;
}

.hidden {
	visibility: hidden;
}

#sonnets {
	display: block;
	width: 100%;
	max-width: 3500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;

/*	font-size: 3vmin;*/
	font-size: var(--font-size);
	/*font-size: min(max(10px, 4vh), 20vh);*/
}

#sonnets div {
	margin: 0 auto 30px;
	min-width: 50%;
}

@media (min-width: 775px) {
	#sonnets div {
		float: left;
		width: 50%;
	}
}

#audio-container {
	margin-top: 50px;
	padding: 0 1vw;
	text-align: left;

	display: flex;
	align-items: center;
}

#audio-container label {
	margin-right: 10px;
	white-space: nowrap;
}