body {
	text-align: center;
}

h1 {
	font-size: 5vh;
}

#flowers {
	max-height: 75vh;
	max-width: 50%;
	border-radius: 3px;
	image-orientation: from-image;
}

.hidden {
	visibility: hidden;
}

#sonnets {
	display: block;
	overflow: auto;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
}

#sonnets div {
	margin: 0 auto 30px;
	min-width: 300px;
	width: 50%;
}

@media (min-width: 775px) {
	#sonnets div {
		float: left;
	}
}
